<% if(err) { %>
    <div class="message mb-4 text-center">
        <div class="message-header">
            <p class="mb-0">Oops! There was an error.</p>
        </div>
        <div class="message-content">
            <div class="mt-2"></div>
            <%- err %>
            <div class="mt-0"></div>
            <sub>If this issue persists, contact <strong>asciidude#0001</strong></sub>
        </div>
    </div>
<% } %>