<% if(message) { %>
    <div class="message mb-4 text-center">
        <div class="message-header">
            <p class="mb-0">Oops! There was an error.</p>
        </div>
        <div class="message-content">
            <div class="mt-2"></div>
            <%- err %>
        </div>
    </div>
<% } %>