@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #141414;
    color: white;
}

.error-header {
    color: rgb(80, 0, 0);
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 10px 10px 0 0;
    background: #ff3030;
    font-weight: bold;
}

.error {
    border-style: solid;
    border-color: #ff3030;

    background: #ff4343;
    padding-bottom: 10px;
    border-radius: 10px;
    color: white;
}

.bg-darker {background-color: #161616}
.bg-darkbl {background-color: #090909}
.dropdown-menu .dropdown-item:hover {background-color: #121212}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon {
    outline: none;
    box-shadow: none;
}